header {
  font-size: 36px;
  text-align: center;
}

.landing {
	margin-top: 15%;
	text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

button:hover {
  background-color: #3A3B3C;
  color: white;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

#splash {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
    color: white;
    background: #9370DB;
}

#setting {
  font-size: 35px;
  color: #3A3B3C;
  position: fixed;
  top: 15px;
  right: 15px;
  display: inline-block;
  transform: rotate(30deg);
}

.material-icons {
  text-rendering: optimizeLegibility;
}
